<html>
  <head>
  <title>Stock Performance Mixmax</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable(
          {% if data %}
            {{ data|safe }}
          {% endif %}
        );
        
        var options = {
          title: 'Stock Performance',
          hAxis: {
            title: 'Time'
          },
          vAxis: {
            title: 'Price'
          },
          legend: { position: 'bottom' },
          trendlines: {
          0: {type: 'exponential', color: '#333', opacity: 1},
          1: {type: 'linear', color: '#111', opacity: .3}
        }
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 900px; height: 500px"></div>
  </body>
</html>
